@*
Category一覧を表示するページ
*@
@(vv: model.view.viewvalues.ViewValueCategoryList)
@common.Default(vv){
<div class="category-list">
  @for(category <- vv.allCategory) {
  @* scssの--color変数にrgb値を代入することで色を変更 *@
  <div class="category-item" style="--color: rgb(@category.v.color.rgb.r, @category.v.color.rgb.g, @category.v.color.rgb.b);">
    <h2 class="category-item__name">@category.v.name</h2>
    <p class="category-item__slug">@category.v.slug</p>
  </div>
  }
  @* カテゴリ追加画面へ遷移するボタン *@
  <a class="category-list__store-link" href="@routes.CategoryController.store">
    <i class="fas fa-plus-circle"></i>
  </a>
</div>
}