@*
Category一覧を表示するページ
*@
@(vv: model.view.viewvalues.ViewValueCategoryList)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){
<div class="category-list">
  @for(category <- vv.allCategory) {
  @* scssの--color変数にrgb値を代入することで色を変更 *@
  <div class="category-item" style="--color: @category.v.color.rgb.toString;">
    <h2 class="category-item__name">@category.v.name</h2>
    <p class="category-item__slug">@category.v.slug</p>
    <div class="category-item__footer">
      @* category更新画面へ遷移するボタン *@
      <a class="category-item__edit-btn" href="@routes.CategoryController.edit(category.id)">
        <i class="far fa-edit"></i>
      </a>
      @* categoryを削除する機能を呼び出すボタン *@
      <div class="category-item__delete-btn">
        @helper.form(action = routes.CategoryController.delete(category.id)) {
          @helper.CSRF.formField
          <i class="far fa-trash-alt category-item__delete-icon"></i>
        }
      </div>
    </div>
  </div>
  }
  @* カテゴリ追加画面へ遷移するボタン *@
  <a class="category-list__store-link" href="@routes.CategoryController.store">
    <i class="fas fa-plus-circle"></i>
  </a>
</div>
}