@import "../main.scss";

/* 一つのtodoを表示するブロック */
.todo-item{
  box-shadow: 0 0 4px gray;
  margin: 15px; /*Blockにmarginを設定することになるのでよくない？*/
  padding: 10px;

  &__title{
    margin-block: 0;
  }

  &__sub-info{
    display: flex;
  }

  &__category, &__status{
    border: solid;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    font-size: 0.5em;
  }

  &__body{
    margin-block: 0;
    /* 改行されるように */
    white-space: pre-line;
  }

  &__edit-btn{
    color: black;
  }
}

.todo-list{
  // store-linkをcontents areaに含めるように
  display: flow-root;

  &__store-link{
    // todo-listに粘着表示するように
    position: sticky;
    bottom: 40px;
    right: 40px;

    float: right;
    margin: 40px;
    color: black;
    font-size: 50px;
  }
}