@import "../main.scss";

.todo-item{
  box-shadow: 0 0 4px gray;
  margin: 15px; /*Blockにmarginを設定することになるのでよくない？*/
  padding: 10px;

  &__title{
    margin-block: 0;
  }

  &__sub-info{
    display: flex;
  }

  &__category, &__status{
    border: solid;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
    font-size: 0.5em;
  }

  &__body{
    margin-block: 0;
  }
}