@*
Todo一覧を表示するページ
*@
@(vv: model.view.viewvalues.ViewValueTodoList)(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){
<div class="todo-list" xmlns="http://www.w3.org/1999/html">
    @for(todo <- vv.allTodo) {
      <div class="todo-item">
          <h2 class="todo-item__title">@todo.v.title</h2>
          <div class="todo-item__sub-info">
            <p class="todo-item__status">@todo.v.state.name</p>
            <p class="todo-item__category">@todo.v.categoryId</p>
          </div>
          <p class="todo-item__body">@todo.v.body</p>
          <div class="todo-item__footer">
            @* todo更新画面へ遷移するボタン *@
            @* todoをそのままeditの引数にしなかった理由 -> routes参照　*@
            <a class="todo-item__edit-btn" href="@routes.TodoController.edit(todo.id)">
              <i class="far fa-edit"></i>
            </a>
            @* todoを削除する機能を呼び出すボタン *@
            <div class="todo-item__delete-btn">
              <form method = "post" action = "@routes.TodoController.delete(todo.id)">
                @helper.CSRF.formField
                <input type="hidden" name="_method" value="DELETE">
                <i class="far fa-trash-alt todo-item__delete-icon"></i>
              </form>
            </div>
          </div>
      </div>
    }
    @* todo追加画面へ遷移するボタン *@
    <a class="todo-list__store-link" href="@routes.TodoController.store">
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>
}
